/* Setting Defaults */
body {
	font-family: "Verdana", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 15px 3px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: rgb(88, 88, 88);
}
h1 {
	font-size: 36px;
}
h2 {
	color: rgba(117, 37, 133, 0.842);
	font-size: 26px;
}

h4 {
	font-weight: bold;
	font-size: 18px;
}

h5 {
	font-weight: lighter;
}

p {
	font-weight: lighter;
	font-size: 18px;
	line-height: 35px;
}

/* Card Flip Mechanism*/
.flip-card {
	width: 450px;
	height: 800px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	perspective: 1000px;
}

.flip-card:hover .flip-card-back {
	transform: rotateY(0deg);
}
.flip-card:hover .flip-card-front {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: 0.6s;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.205);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.205);
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.205);
}

/* Front Card Container */
.flip-card-front {
	display: flex;
	flex-direction: column;
	margin: auto;
	z-index: 2;
	transform: rotateY(0deg);
}

#title-card {
	width: 100%;
}

.description {
	padding: 5px 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
}

.statistics .top {
	display: flex;
	justify-content: space-between;
}

.statistics .progress-bar {
	background-color: rgb(196, 193, 193);
	height: 40px;
	border-radius: 2px;
}

.statistics .progress-bar .inner-bar {
	border-radius: inherit;
	background-color: rgba(117, 37, 133, 0.726);
	height: 40px;
	width: 75%; /* Width = percentage filled */
}

.statistics .bottom {
	display: flex;
	padding-bottom: 20px;
	justify-content: space-between;
}

.statistics .bottom .right {
	display: flex;
}

/* Back Card Container */
.flip-card-back {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: rotateY(-180deg);
}

#donor-table {
	width: 100%;
	margin: 5px 0px 0px 0px;
	padding: 0px 20px;
	text-align: left;
	color: rgb(88, 88, 88);
}

th {
	font-size: large;
	border-top: 1px solid rgba(0, 0, 0, 0.103);
}
th,
td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.103);
	padding: 10px;
}

th:last-child,
td:last-child {
	text-align: center;
}

.flip-card-back .bottom {
	padding-bottom: 10px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#button {
	width: 225px;
	height: 40px;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	background-color: rgba(117, 37, 133, 0.726);
	margin: auto;
	line-height: 0px;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
}
